In [2]:
import pandas as pd
from factor_analyzer import FactorAnalyzer

from helpers import vignettes_en, foundations, validated_codes

In [21]:
def run_factor_analysis(df):
    exploratory_fa = FactorAnalyzer(
        n_factors=7,
        rotation="promax",
        method="minres",
        # method="ml", # this is the original, but it doesn't converge
    )

    exploratory_fa.fit(df)

    factor_df = pd.DataFrame(
        exploratory_fa.loadings_,
        columns=["Factor 1", "Factor 2", "Factor 3", "Factor 4", "Factor 5", "Factor 6", "Factor 7"],
    )

    factor_df["MFV Code"] = validated_codes
    factor_df["MFV Scenario"] = vignettes_en.split("\n\n")
    factor_df["Foundation"] = foundations
    # reorder columns
    factor_df = factor_df[
        [
            "MFV Code",
            "MFV Scenario",
            "Foundation",
        ] + [f"Factor {i}" for i in range(1, 8)]
    ]
    return factor_df

# GPT 3-5

In [5]:
df = pd.read_csv("data/results_original_gpt-3.5-turbo_2023-08-13_22-43.csv")

df.head(3)

,102,103,104,105,108,109,110,111,112,113,...,714,715,716,801,802,803,804,805,808,810
0,4,4,3,4,4,3,4,3,4,3,...,5,4,5,5,3,5,4,3,3,3
1,4,3,3,4,4,2,2,3,4,2,...,5,4,5,5,4,5,5,4,4,4
2,4,3,3,4,4,2,4,3,4,3,...,3,2,3,5,4,5,5,5,5,5

In [23]:
df.nunique()

102    4
103    4
104    4
105    4
108    3
      ..
803    3
804    2
805    4
808    5
810    5
Length: 68, dtype: int64

In [7]:
factor_df_chat = run_factor_analysis(df) 

factor_df_chat.to_excel("data/exploratory_loadings_chatgpt.xlsx", index=False)

GPT-4

In [18]:
df_gpt4 = pd.concat([
    pd.read_csv("data/results_original_gpt-4_2023-08-13_22-15.csv"),
    pd.read_csv("data/results_original_gpt-4_2023-08-13_23-45.csv")
])

# value counts all columns
for col in df_gpt4.columns:
    print(col, df_gpt4[col].value_counts(dropna=False))

102 5    86
4    50
Name: 102, dtype: int64
103 4    73
5    35
3    28
Name: 103, dtype: int64
104 5    81
4    53
3     2
Name: 104, dtype: int64
105 5    119
4     17
Name: 105, dtype: int64
108 5    136
Name: 108, dtype: int64
109 3    72
4    55
2     7
5     2
Name: 109, dtype: int64
110 5    135
4      1
Name: 110, dtype: int64
111 4    63
3    59
5     9
2     5
Name: 111, dtype: int64
112 5    104
4     32
Name: 112, dtype: int64
113 4    86
3    34
5    13
2     3
Name: 113, dtype: int64
114 4    75
3    42
5    18
2     1
Name: 114, dtype: int64
201 5    136
Name: 201, dtype: int64
202 5    125
4     11
Name: 202, dtype: int64
203 5    136
Name: 203, dtype: int64
204 5    135
4      1
Name: 204, dtype: int64
205 5    130
4      6
Name: 205, dtype: int64
206 5    113
4     23
Name: 206, dtype: int64
207 5    136
Name: 207, dtype: int64
208 4    69
5    61
3     6
Name: 208, dtype: int64
303 5    90
4    46
Name: 303, dtype: int64
402 5    106
4     29
3      1
Name: 402, dtype: int64
403 5    130
4      6
Name: 403, dtype: int64
404 5    116
4     20
Name: 404, dtype: int64
405 5    129
4      7
Name: 405, dtype: int64
406 5    82
4    51
3     3
Name: 406, dtype: int64
408 4    68
3    60
5     7
2     1
Name: 408, dtype: int64
409 5    108
4     26
3      2
Name: 409, dtype: int64
410 5    136
Name: 410, dtype: int64
411 5    130
4      6
Name: 411, dtype: int64
501 5    68
4    65
3     3
Name: 501, dtype: int64
502 5    127
4      9
Name: 502, dtype: int64
503 5    111
4     24
3      1
Name: 503, dtype: int64
504 5    117
4     18
3      1
Name: 504, dtype: int64
507 4    79
5    27
3    26
2     3
1     1
Name: 507, dtype: int64
509 5    76
4    47
3    13
Name: 509, dtype: int64
510 4    55
3    49
5    20
2    12
Name: 510, dtype: int64
601 4    90
3    36
5     8
2     2
Name: 601, dtype: int64
602 4    74
5    57
3     5
Name: 602, dtype: int64
603 4    76
5    54
3     6
Name: 603, dtype: int64
604 3    78
4    34
2    15
5     8
1     1
Name: 604, dtype: int64
605 4    76
3    45
5    12
2     3
Name: 605, dtype: int64
608 4    71
5    52
3    12
2     1
Name: 608, dtype: int64
610 4    66
3    53
5    10
2     6
1     1
Name: 610, dtype: int64
611 3    79
4    43
2     8
5     5
1     1
Name: 611, dtype: int64
612 4    84
5    30
3    20
2     2
Name: 612, dtype: int64
614 4    89
3    30
5    16
2     1
Name: 614, dtype: int64
701 4    52
5    50
3    26
2     8
Name: 701, dtype: int64
702 4    68
5    37
3    24
2     6
1     1
Name: 702, dtype: int64
703 3    78
2    37
4    18
1     2
5     1
Name: 703, dtype: int64
704 4    54
3    40
5    33
2     9
Name: 704, dtype: int64
705 5    82
4    41
3    13
Name: 705, dtype: int64
706 4    52
3    36
5    28
2    18
1     2
Name: 706, dtype: int64
707 5    85
4    41
3     7
2     3
Name: 707, dtype: int64
709 5    121
4     13
3      1
2      1
Name: 709, dtype: int64
710 5    65
4    49
3    17
2     4
1     1
Name: 710, dtype: int64
711 3    51
4    46
5    20
2    18
1     1
Name: 711, dtype: int64
712 3    73
2    49
4     9
1     3
5     2
Name: 712, dtype: int64
713 5    83
4    37
3    14
2     2
Name: 713, dtype: int64
714 5    88
4    30
3    10
2     6
1     2
Name: 714, dtype: int64
715 4    53
5    53
3    21
2     8
1     1
Name: 715, dtype: int64
716 5    122
4     12
2      1
3      1
Name: 716, dtype: int64
801 5    136
Name: 801, dtype: int64
802 5    73
4    51
3    12
Name: 802, dtype: int64
803 5    136
Name: 803, dtype: int64
804 5    129
4      7
Name: 804, dtype: int64
805 5    80
4    51
3     4
2     1
Name: 805, dtype: int64
808 5    129
4      7
Name: 808, dtype: int64
810 5    77
4    43
3    14
2     2
Name: 810, dtype: int64

In [19]:
df_gpt4.nunique()

102    2
103    3
104    3
105    2
108    1
      ..
803    1
804    2
805    4
808    2
810    4
Length: 68, dtype: int64

In [22]:
factor_gptT4 = run_factor_analysis(df) 

factor_gptT4.to_excel("data/exploratory_loadings_fpt4.xlsx", index=False)